# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.env.*
*.env

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Misc
*.sqlite3
*.db